<div class="row px-5 mt-2">
  <p class="text text-danger pt-5">{{title}}::{{practical_no}}</p>
  <div class="col-md-12">
    <app-notes></app-notes>
  </div>
  <div class="col-md-3">
    <button class="btn btn-dark">Click Me</button>
  </div>
</div>